.about {
 

  .about-dropdowns {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 40px 0;
     padding: 0 92px;
     width: 100%;
  }
  .dropdown {
    width: 100%;
    max-width: 805px;
}
}
@media (max-width: 768px) {
 .about-dropdowns {
     padding:0 0px;
  }
}