.footer {
  background-color: #080808; // اللون الوردي من التصميم
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif; // لو تستخدم نفس الخط في المشروع
}
