// الألوان
$primary-color: #FF6060; // اللون الأساسي من Figma
$secondary-color: #F6F6F6; // لون الخلفية
$text-color: #000000; // لون النص الرئيسي

// الخطوط
$font-family: 'Montserrat', sans-serif;

// المسافات
$spacing-unit: 16px;
